
%alert-panel-defaults {
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	font-size: 1.2rem;
	font-family: $sans-serif-font;
} // End %alert-panel-defaults

%button-defaults {
  padding: 20px 40px;
  border-radius: 50px;
	min-width: 100px;
	text-align: center;
	font-size: 1rem;
	font-family: $sans-serif-font;
	outline: none;
  cursor: pointer;
  transition: all .5s;
} // End %button-defaults

// Define Heading styles

%base-heading-styles {
	font-family: $sans-serif-font;
} // End %base-heading-styles

// Header Link Style Defaults
%header-link-defaults {
  a {
    color: $white;
    &:hover {
      color: gc(brand-colors, main-blue);
    }
  }
} // End %header-link-defaults

%display-flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
} // End %display-flexbox

%absolute-center {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
} // End %absolute-center
