img {
  max-width: 100%;
}

body{
  font-family: $sans-serif-font;
  // this goes in the shame file -- definitely fix for real later
 goverflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $sans-serif-font;
}

a {
  font-family: $sans-serif-font;
  text-decoration: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
