.content-info {
  background: gc(brand-colors, main-blue);
  float: left;
  padding-bottom: 100px;
  width: 100%;
}

.footer-info {
  width: 620px;
  margin: 0 auto;
  position: relative;
  @include breakpoint(max-width $sm-tablet) {
    width: 80%;
  }
  &--list {
    float: left;
    color: $white;
    margin-right: 70px;
    &:last-child {
      margin-right: 0;
    }
    @include breakpoint(max-width $sm-tablet) {
      float: none;
      margin-bottom: 20px;
    }
  }
  &--address {
    line-height: 1.5;
    text-align: center;
    @include breakpoint(max-width $sm-tablet) {
      text-align: left;
    }
  }
  &--item {;
    line-height: 2;
    text-transform: uppercase;
    color: gc(brand-colors, secondary-blue);
    font-family: $sans-serif-font;
    font-size: $base-font-size/1.25;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  &--social-media {
    line-height: 2;
    color: gc(brand-colors, secondary-blue);
    font-family: $sans-serif-font;
    font-size: $base-font-size/1.25;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}
