@include custom-buttons(map-get($palettes, buttons));

@keyframes fade-in {
  0% { opacity: 0; padding-top: 50px; }
  50% { opacity: 0; }
  100% { opacity: 1; padding-top: 0; }
}

@keyframes fade-in-and-scale {
  0% { opacity: 0; transform: scale(.5,.5); }
  100% { opacity: 1; transform: scale(1,1); }
}

.menu-icon {
  width: 35px;
  height: 8px;
  border-bottom: 3px solid $white;
  border-top: 3px solid $white;
  display: block;
  float: left;
  cursor: pointer;
}

.site-logo {
  &--container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 33%;
    max-width: 431px;
    min-width: 200px;
    height: 33%;
    margin: auto;
    z-index: 20;
    opacity: 0;
    animation: fade-in-and-scale 700ms forwards 700ms;
  }
}

.main-menu {
  @extend %header-link-defaults;
  @extend %absolute-center;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 2;
  font-size: $base-font-size*2.5;
  font-weight: 500;
  width: 50%;
  height: 50%;
  margin: auto;
  &-close {
    position: absolute;
    color: $white;
    max-width: 50px;
    max-height: 50px;
    top: 50px;
    left: 50px;
  }
} // End .main-menu

.info-links {
  @extend %header-link-defaults;
  float: right;
  z-index: 5;
  &--item {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @include type-scale(base);
    &:nth-child(1) {
      border-bottom: 1px solid $white;
      margin-right: 20px;
      @include breakpoint(max-width $sm-tablet) {
        border-bottom: none;
        text-align: center;
        margin-bottom: 40px;
        width: 100%;
      }
    }
    @include breakpoint(max-width $sm-tablet) {
      display: block;
      margin-bottom: 20px;
      width: 268px;
      margin: 0 auto;
    }
  } // End .info-links--item
  @include breakpoint(max-width $sm-tablet) {
    width: 100%;
    margin: 60px auto 0;
  }
  &--inner {
    @include breakpoint(max-width $sm-tablet) {
      text-align: center;
    }
  }
} // End .info-links

.nav-items-group {
  max-height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background: gc(brand-colors, secondary-blue);
  overflow: hidden;
  opacity: 0;
	visibility: hidden;
	transition: opacity 0.6s, visibility 1s;
	transition-timing-function: ease-in-out;
  .menu-item {
    transform: translateY(0px);
    transition: transform 1s ease-out;
  }
  	&.show-nav {
  		opacity: 1;
  		visibility: visible;
  		transition-delay: .5s;
      .menu-item {
        transform: translateY(-40px);
        transition: transform .7s ease-in-out;
        $delay: .35s;
        @for $i from 1 through 6 {
          &:nth-child(#{$i}) {
            transition-delay: $delay;
          }
          $delay: $delay  + .05;
        }
      }
  	} // End .nav-items-group.get-info
}

.iconic {
  * {
		fill: $white;
		stroke: $white;
	} // End .iconic *
	&-x {
		width: 30px;
		height: 30px;
		cursor: pointer;
	} // End .iconic-x
	&-chevron {
		width: 15px;
		height: 15px;
	} // End .iconic-chevron
}
