
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

body.show-nav {
  overflow: hidden;
}

.main-header {
  height: 100%;
  min-height: 925px;
  position: relative;
} // End .main-header

.tagline {
  color: white;
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: $sans-serif-font;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-header {
  position: relative;
  background: url('../../assets/images/centrum-property.jpg') center center no-repeat;
  background-size: cover;
  min-height: 925px;
  z-index: 0;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s, visibility 1s;
  transition-timing-function: ease-in-out;
  &.show-nav {
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  } // End .page-header.show-nav
  &:after {
    content: '';
    background: $white;
    transform: skewY(-3deg);
    transform-origin: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;
    z-index: 2;
  } // End .page-header:after
  .color-overlay {
    position: absolute;
    background:transparentize(gc(brand-colors, main-blue), 0.1);
    z-index: 1;
    opacity: 0;
    animation: fade-in 2s ease-out 700ms both;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    height: 100%;
    width: 100%;
    &:after {
      content: '';
      background: $white;
      transform: skewY(-3deg);
      transform-origin: 100%;
      position: absolute;
      bottom: 0;
      height: 200px;
      width: 100%;
      z-index: 2;
    } // End .page-header:after
  } // End .page-header:before
  &--content {
    z-index: 9999;
    width: 85%;
    padding-top:  60px;
    position: relative;
    margin: 0 auto;
    z-index: 5;
  } // End .page-header-content
} // End .page-header

.mission-body {
  color: gc(brand-colors, secondary-blue);
  position: relative;
  max-width: 55%;
  margin: 0 auto;
  text-align: center;
  z-index: 7;
  margin-top: -50px;
  padding-bottom: 100px;
  @include breakpoint(max-width $lg-tablet) {
    max-width: 75%;
  }
  &--content {
    font-size: $base-font-size * 2.5;
    line-height: $base-line-height / .55;
    font-weight: 400;
    @include breakpoint(max-width $sm-tablet) {
      font-size: $base-font-size * 1.5;
      margin-top: -100px;
    }
  } // End .mission-body--content
} // End .mission-body

.amenities {
  opacity: .99;
  &-hero {
    width: 100%;
    max-height: 1000px;
    min-height: 800px;
    position: relative;
    @include breakpoint($sm-mobile $lg-tablet) {
      display: inline-block;
      width: 100%;
    }
  } // End .amenities-hero
  &-main {
    background: gc(brand-colors, secondary-blue);
    position: relative;
    @include breakpoint($sm-mobile $sm-tablet) {
      display: inline-block;
      width: 100%;
    }
    &:after {
      content: '';
      @include triangle(down, 40px, gc(brand-colors, secondary-blue));
      position: absolute;
      bottom: -80px;
      margin-left: 47.5%;
    }
    &--content {
      max-width: 69%;
      height: 189px;
      margin: auto;
      z-index: 7;
      padding: 10% 0;
    } // End .amenities-main--content
    &--heading {
      color: $white;
      font-family: $sans-serif-font;
      text-align: center;
      min-height: 30px;
      letter-spacing: 2px;
      font-size: $base-font-size*1.5;
      padding-bottom: 60px;
      text-transform: uppercase;
    } // End .amenities-main--heading
    &--list {
      @extend %display-flexbox;
      justify-content: space-around;
      &-item {
        @extend %display-flexbox;
        z-index: 7;
        flex-flow: row wrap;
        img {
          @extend %display-flexbox;
          width: 100px;
          cursor: pointer;
          max-height: 100px;
          flex: 1 100%;
          align-items: center;
          margin-right: 0;
          transition: margin 1s ease-out 0.5s;
          &.detail-view {
            transition: margin 1s ease-out 0.5s;
            margin-right: 490px;
          }
        }
        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            img.detail-view {
              transition: margin 1s ease-out 0.5s;
              margin-right: 490px - ($i*10px);
            }
          }
        }
        @for $i from 5 through 8 {
          &:nth-child(#{$i}) {
            img.detail-view {
              transition: margin 1s ease-out 0.5s;
              margin-right: 490px + ($i*15px);
            }
          }
        }
      } // End .amenities-main--list-item
    } // End .amenities-main--list
  } // End .amenities-main
} // End .amenities

.fade-in {
  animation: fade-in 1s ease-out both 1.25s;
}

.fade-out {
  animation: fade-out 1s ease-out both;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.amenities--trap {
  &-heading {
    font-size: $base-font-size*1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 250px;
    margin-bottom: 20px;
    @include breakpoint($sm-mobile $lg-tablet) {
      margin-top: 0;
    }
    } // End .amenities--trap-heading
  &-body {
    line-height: 1.5;
    max-width: 445px;
  } // End .amenities--trap-body
} // End .amenities--trap

.amenities--trap-article {
  position: absolute;
  color: white;
  top: 0;
  width: 385px;
  z-index: 2;
  padding: 329px 50px 520px;
  text-align: center;
  right: 0;
  background: url('../../assets/images/interior-trapezoid.svg') no-repeat -20px 0;
  @include breakpoint($sm-mobile $lg-tablet) {
    padding: 20px;
    background: transparentize(gc(brand-colors, main-blue), 0.3);
    position: static;
    width: 80%;
    margin: 50% auto 0;
  }
} // End .amenities--trap-article

.amenity-description {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  background: #173e73;
  display: block;
  color: #fff;
  line-height: 1.5;
  height: 100%;
  padding: 0 40px;
  text-align: center;
  transition: right 1s ease-out 0.5s;
  right: -40%;
  z-index: 5;
  &--title {
    text-transform: uppercase;
    margin-top: 45%;
    letter-spacing: 2px;
  }
  &--text {
    margin-top: 20px;
  }
  &.animate-in {
    transition: right 1s ease-out 0.5s;
    right: 0;
    z-index: 5;
  }
}

.amenity-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  max-height: 40px;
  max-width: 40px;
  color: white;
  z-index: 999;
  outline: none;
  cursor: pointer;
}

.neighborhood {
  &-hero {
    max-height: 850px;
    min-height: 850px;
    padding-top: 110px;
    text-align: center;
    z-index: 0;
    color: gc(brand-colors, secondary-blue);
    background: url('../../assets/images/neighborhood.png') center center no-repeat;
    background-size: cover;
    position: relative;
    @include breakpoint(max-width $md-desktop) {
      background-position: center 110px;
    }
    &--heading {
      text-transform: uppercase;
      color: inherit;
      font-size: $base-font-size * 1.5;
      font-weight: 500;
      letter-spacing: 2px;
      margin-bottom: 20px;
    } // End .neighborhood-hero--heading
    &--content {
      max-width: 35%;
      margin: 0 auto;
      font-size: $base-font-size * 1.25;
      line-height: $base-line-height / .75;
      font-weight: 400;
    } // End .neighborhood-hero--content
  } // End .neighborhood-hero

  @at-root {
    .neighborhood-map-modal {
      display: none;
      .map {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .close-map {
        position: absolute;
        color: white;
        background: gc(brand-colors, secondary-blue);
        padding: 10px 10px 10px 40px;
        outline: none;
        border: none;
        max-height: 50px;
        max-width: 100px;
        top: 20px;
        left: 0;
        cursor: pointer;
        z-index: 9999;
      }
    }
  }
  &-main {
    position: relative;
    float: left;
    width: 100%;
    &--lifestyle-list {
      position: relative;
      float: left;
      width: 100%;
      &-item {
          float: left;
          width: 33.3333333%;
          @include breakpoint(max-width $lg-tablet) {
            float: none;
            width: 100%;
          }
        .list-item-main {
          padding: 45% 0;
          color: $white;
          width:100%;
          height: 20px;
          position: relative;
          font-family: $sans-serif-font;
          letter-spacing: 2px;
          text-align: center;
          text-transform: uppercase;
          z-index: 1;
          float: left;
          background-size: cover!important;
          @at-root {
            .list-item--text {
              z-index: 8;
              position: relative;
              transition: all 0.5s;
            } // End .list-item--text
          } // End @at-root
        } // End .neighborhood-main--lifestyle-list-item .list-item-main
      } // End .neighborhood-main--lifestyle-list-item
    } // End .neighborhood-main--lifestyle-list
  } // End .neighborhood-main
} // End .neighborhood

.map-legend {
  z-index: 999;
  position: absolute;
  background: transparentize(gc(brand-colors, main-blue), 0.1);
  color: white;
  font-family: brandon-grotesque;
  text-align: left;
  text-transform: uppercase;
  padding: 70px;
  height: 54%;
  top: 20px;
  left: 10%;
  @include breakpoint(max-width $lg-tablet) {
    display: none;
  }
  &--title {
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 70px;
  }
  &--list-item {
    padding: 12.5px;
    padding-left: 0;
    font-size: 0.8rem;
    letter-spacing: 2px;
    cursor: pointer;
    &:hover {
      background: transparentize(white, 0.8);
    }
    &.selected {
      background: transparentize(white, 0.8);
    }
  }
  &--icon {
    border-radius: 50px;
    height: 15px;
    width: 15px;
    margin-right: 10px;
    margin-top: -2px;
    display: block;
    float: left;

    $icon-map: (
      icon-colors: (
        dining: #1a6ad6,
        grocery: #e56829,
        fitness: #edc729,
        salon: #00a5b9,
        coffee: #af3c9b,
        education: #647dd6,
        retail: #c84a81
      )
    );

    @each $name, $color in map-get($icon-map, icon-colors) {
      &.#{$name} {
        background: $color;
      }
    }
  }
}

.neighborhood-map-modal.mobile .map-legend {
  display: none;
}

.neighborhood-main--color-overlay {
  background: transparentize(gc(brand-colors, main-blue), 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  transition: all 0.5s;
} // End .neighborhood-main--color-overlay

.gallery-button {
  display: block;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.5s ease-out 0.05s;
  z-index: 10;
  &.primary.buttons {
    max-width: 30%;
    margin: 0 auto;
  } // End .gallery-button.primary.buttons
} // End .gallery-button

.load-next-gallery {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  position: absolute;
  top: 35px;
  right: 50px;
  color: white;
  z-index: 9999;
  max-width: 300px;
  background: none;
} // End .load-next-gallery

.neighborhood-main--lifestyle-list-item:hover {
  .neighborhood-main--color-overlay {
    opacity: 0;
    transition: all 0.5s;
    z-index: 0;
  } // End .neighborhood-main--lifestyle-list-item:hover .neighborhood-main--color-overlay
  .list-item--text {
    opacity: 0;
    transition: all 0.5s;
  } // End .neighborhood-main--lifestyle-list-item:hover .list-item--text
  .gallery-button {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease-out 0.05s;
    z-index: 999;
    &.primary.buttons {
      max-width: 30%;
      margin: 0 auto;
      &:hover {
        background: transparentize(gc(brand-colors, secondary-blue), 0.5);
        border: 1px solid gc(brand-colors, secondary-blue);
      } // End .neighborhood-main--lifestyle-list-item:hover .gallery-button.primary.buttons:hover
    } // .neighborhood-main--lifestyle-list-item:hover .gallery-button.primary.buttons
  } // .neighborhood-main--lifestyle-list-item:hover .gallery-button
} // .neighborhood-main--lifestyle-list-item:hover

a.gallery-button.mobile.primary.buttons {
  opacity: 1!important;
  z-index: 9999;
  position: relative;
  min-width: 220px;
}

.features {
  clear: both;
  background: gc(brand-colors, secondary-blue);
  color: $white;
  position: relative;
  padding: 40px;
  &-list {
    &--heading {
      text-align: center;
      margin: 0 auto;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: $base-font-size * 1.5;
      margin-top: 90px;
    } // End .features-list--heading
    &--columns {
      width: 73%;
      min-height: 500px;
      padding-left: 20px;
      margin: 0 auto;
      padding-top: 100px;
      padding-bottom: 40px;
      @extend %display-flexbox;
      justify-content: space-around;
      @include breakpoint(max-width $lg-tablet) {
        display: block;
        width: 90%;
      }
      @include breakpoint(max-width $mobile) {
        width: 100%;
        padding-bottom: 90px;
      }
    } // End .features-list--columns
    &--column {
      @extend %display-flexbox;
      flex-flow: row wrap;
      margin-right: 40px;
      &-heading {
        margin-left: -20px;
        font-size: $base-font-size * 1.5;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-family: $sans-serif-font;
        text-transform: uppercase;
      }
      &:last-child {
        margin-right: 0;
        @include breakpoint(max-width $lg-tablet) {
          margin-top: 50px;
        }
      }
    } // End .features-list--columns
    &--item {
      line-height: 1.5;
      padding-bottom: 10px;
      font-size: $base-font-size * 1.25;
      i {
        margin-left: -20px;
        margin-top: 3px;
        float: left;
      }
    } // End .features-list--item
  } // End .features-list
} // End .features

.interior-view {
  float: left;
  &-one, &-two{
    max-height: 1000px;
    min-height: 800px;
    position: relative;
    @include breakpoint($sm-mobile $lg-tablet) {
      display: inline-block;
      width: 100%;
    }
  } // End .interior-view-one, .interior-view-two
} // End .interior-view

.current-availability {
  background: gc(brand-colors, secondary-blue);
  min-height: 1200px;
  position: relative;
  padding-bottom: 130px;
  &:after {
    content: '';
    background: white;
    transform: skewY(3deg);
    transform-origin: 100%;
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: -150px;
  }
  @at-root {
    .availability-table {
      display: table;
      margin: 0 auto;
      width: 70%;
      z-index: 999;
      text-align: center;
      color: $white;
      a {
        color: white!important;
        &:hover {
          text-decoration: underline;
        }
      }
      &.small-only {
        .st-head-row-main {
          display: none;
        }
        .st-head-row {
          padding: 50px 0 10px;
        }
      }
      &.large-only {
        .table-head {
          padding-top: 35px;
          padding-bottom: 15px;
        }
        td {
          padding-top: 20px;
        }
        tr {
          height: 50px;
          border-bottom: 1px solid transparentize(white, 0.8);
        }
        .st-key, .st-val {
          text-align: left;
          padding-top: 20px;
        }
      }
    } // End .availability-table

    .stacked-table {
      display: table;
      margin: 0 auto;
      width: 70%;
      z-index: 999;
      text-align: center;
      color: $white;
      a {
        color: white!important;
        &:hover {
          text-decoration: underline;
        }
      }
      .st-head-row {
        .st-key, .st-val {
          padding-top: 35px;
          padding-bottom: 15px;
        }
      }
      tr {
        height: 50px;
        border-bottom: 1px solid transparentize(white, 0.8);
      }
      .st-key, .st-val {
        text-align: left;
        padding-top: 20px;
      }
    }
  }
} // End .current-availability

.bedroom-options {
  color: $white;
  margin: 0 auto 30px;
  width: 35%;
  @at-root {
    .current-availability--heading {
      margin: 0 auto 50px;
      padding-top: 130px;
      width: 70%;
      text-align: center;
      color: $white;
      font-size: $base-font-size*1.5;
      text-transform: uppercase;
      letter-spacing: 1.5px;
    } // End .current-availability--heading
  }
  &--label, &--item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 40px;
  } // End .bedroom-options--label, .bedroom-options--item
  &--label {
    font-size: $base-font-size*1.5;
  }// End .bedroom-options--label
  &--item {
    border: 2px solid $white;
    border-radius: 50%;
    padding: 20px 25px;
    cursor: pointer;
    font-family: $sans-serif-font;;
    &:hover {
      background: $white;
      border: 2px solid $white;
      color: gc(brand-colors, main-blue)
    }
    &:nth-child(2) {
      padding: 20px;
    }
  } // End .bedroom-options--item
} // End .bedroom-options

.features--trap, .interior-view-two--trap {
  &-heading {
    font-size: $base-font-size*1.5;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
  } // End .features--trap-heading, .amenities--trap-heading
  &-body {
    line-height: 1.5;;
  } // End .features--trap-body, .amenities--trap-body
} // End .features--trap, .amenities--trap

.features--trap-article {
  position: absolute;
  color: white;
  top: 470px;
  width: 85%;
  text-align: center;
  &.left {
    color: white;
    top: -130px;
    width: 400px;
    z-index: 999;
    padding: 370px 43px 670px;
    text-align: center;
    left: 0;
    background: url('../../assets/images/trap-left.svg') no-repeat -20px 0;
    @include breakpoint($sm-mobile $lg-tablet) {
      padding: 20px;
      background: transparentize(gc(brand-colors, main-blue), 0.3);
      position: static;
      width: 80%;
      margin: 50% auto 0;
    }
  } // End .features--trap-article .left
} // End .features--trap-article

.interior-view-two {
  position: relative;
  &--trap-article {
    &.right {
      top: 0;
      color: white;
      top: -60px;
      width: 400px;
      z-index: 20;
      position: absolute;
      padding: 595px 52px 460px;
      text-align: center;
      right: 0;
      background: url('../../assets/images/trap-right.svg') no-repeat 0 0;
      @include breakpoint($sm-mobile $lg-tablet) {
        padding: 20px;
        background: transparentize(gc(brand-colors, main-blue), 0.3);
        position: static;
        width: 80%;
        margin: 50% auto 0;
      }
    } // End .interior-view-two--trap-article .right
  } // End .interior-view-two--trap-article
} // End .interior-view-two

.gallery {
  &-modal {
    display: none;
    background: gc(brand-colors, main-blue);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    &.open {
      background: gc(brand-colors, main-blue);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      @include breakpoint(min-width $desktop) {
        min-height: 1000px;
      }
    }
  }
  &-slide {
    max-height: 725px;
    overflow: hidden;
  }
  &-slider {
    z-index: 999;
    max-width: 90%;
    top: 100px;
    left: 5%;
    img {
      width: 100%;
    }
  }
  &-image--container {
    display: block;
    z-index: 999;
    max-height: 550px;
    overflow: hidden;
  }
  &--image-name {
    color: white;
    font-family: $sans-serif-font;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
  }
  &-close-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    color: white;
    z-index: 999;
    cursor: pointer;
    &.mobile {
      @include breakpoint(max-width $sm-laptop) {
        padding: 0;
      }
    }
  }
  &-name {
    z-index: 99;
    color: white;
    max-width: 800px;
    text-align: center;
    margin: 60px auto 0;
    font-family: $serif-font;
    font-size: 1.75rem;
    letter-spacing: 2px;
  }
  &-description {
    z-index: 99;
    color: #fff;
    font-size: 1.5rem;
    max-width: 60%;
    text-align: center;
    line-height: 1.5;
    margin: 150px auto 0;
  }
  &--display-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.modal-color-overlay {
  background: transparentize(gc(brand-colors, main-blue), 0.5);
  width: 100%;
  height: 100%;
}

.map-modal-button.primary.buttons {
  text-transform: uppercase;
  padding: 20px 60px;
  font-size: 0.8rem;
  margin-top: 60px;
  display: block;
  max-width: 100px;
  margin: 45px auto 0;
  &:hover {
    background: transparentize(gc(brand-colors, secondary-blue), 0.6);
    border: 1px solid gc(brand-colors, secondary-blue);
    color: gc(brand-colors, main-blue);
  }
}

#map {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
}

.owl-theme .owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  .owl-prev, .owl-next {
    position: absolute;
    background: gc(brand-colors, secondary-blue);
    padding: 10px;
    border-radius: 0;
    &:hover {
      color: gc(brand-colors, main-blue);
      background: white;
      border-radius: 0;
    }
  }
}

.owl-prev {
  left: -50px;
}

.owl-next {
  right: -50px;
}

.owl-carousel.owl-loaded {
  margin-top: -60px;
}

.icon rect,
.icon line {
	stroke: #dbdbdb;
	fill: none;
	stroke-width: 2px;
}

// Google Maps Info Window styles

.location-info {
  color: white;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  .location-title {
    padding: 10px 0;
  }
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.request-info-modal {
  display: none;
}

.subscription-form {
  color: white;
  /*display: none;*/
}

.subscribe-button {
  background: white;
  color: gc(brand-colors, secondary-blue);
  border: 1px solid white;
  &:hover {
    color: white;
  }
}

.show-contact {
  max-width: 20%;
  margin: 50px auto 0;
  border: 1px solid white!important;
}
