.main-header {
  overflow: hidden;
  height: 100%;
  min-height: 1050px;
}
.page-header {
  position: relative;
  background: url('../../assets/images/centrum-property.jpg') center center no-repeat;
  background-size: cover;
  min-height: 1050px;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  margin-top: -60px;
  padding-top: 65px;
  &:after {
    content: '';
    position: absolute;
    background:transparentize(map-fetch($brand-colors, main-blue), 0.1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    height: 100%;
  }
  &-content {
    transform: skewY(1.5deg);
    transform-origin: 100%;
    z-index: 9999;
    position: absolute;
  }
}
